[submodule "deps/simnets"]
	path = deps/simnets
	url = https://github.com/HUJI-Deep/caffe-simnets
[submodule "deps/GSN"]
	path = deps/GSN
	url = https://github.com/HUJI-Deep/GSN
[submodule "deps/nice"]
	path = deps/nice
	url = https://github.com/HUJI-Deep/nice
[submodule "deps/DPM"]
	path = deps/DPM
	url = https://github.com/HUJI-Deep/Diffusion-Probabilistic-Models
[submodule "deps/spn-poon-2011"]
	path = deps/spn-poon-2011
	url = https://github.com/HUJI-Deep/spn-poon-2011
[submodule "deps/spn-opt-discrim"]
	path = deps/spn-opt-discrim
	url = https://github.com/HUJI-Deep/spn-opt-discrim
